*.iml
.gradle
/gradle.properties
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
app/build
/captures
app/roguard-rules.pro
out/
.idea/
app/src/main/res/drawable/
.gitignore.swp
app/proguard-rules.pro